@import "./global/_variables.scss";

.slider {
  z-index: 1;
  height: 40vh;
  position: relative;
  transform: translateX($center-slider);
}

.drawItemContainer {
  width: 277px;
  height: 40vh;
  left: calc(1000px);
  position: absolute;
  flex-shrink: 0;

  .draw {
    position: absolute;
    height: 100%;
    width: 100%;
    mask-image: url("../assets/images/maskSliderImage.png");
    mask-size: 97% 100%;
    mask-repeat: no-repeat;
    z-index: 1;
  }

  .drawName {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;

    .name {
      position: absolute;
      transform-origin: left;
      transform: rotateZ(-90deg) translateY(58px) translateX(35px);
      font-size: 1.6rem;
      text-transform: uppercase;
      color: white;
    }
  }

  .drawActions {
    position: absolute;
    z-index: 1001;
    display: flex;
    width: 100%;
    gap: 20px;
    bottom: 30px;
    left: 30px;
    font-size: 1.25rem;

    & > * {
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: $color-tertiary;
    }
  }
}

.prevNextButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}

