@import "./global/_variables.scss";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $size-footer;
  background: $color-primary url("../assets/images/bg-footer.svg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem 1rem 1rem;
}

.imgContainer {
  width: 30px;
}