@import "./global/_variables.scss";

.slider {
  z-index: 1;
  height: 40vh;
  position: relative;
  transform: translateX($center-slider);

  &.sliderDraw {
    height: 40vh;
  }
  &.sliderComment {
    height: 10vh;
  }
}

.prevNextButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}