@import "./global/_variables.scss";

.slider {
  z-index: 1;
  height: 35vh;
  /*display: flex;*/
  position: relative;
  transform: translateX($center-slider);
}

.drawItemContainer {
  width: 250px;
  height: 35vh;
  left: calc(1000px);
  position: absolute;
  flex-shrink: 0;

  .draw {
    position: absolute;
    height: 35vh;
    mask-image: url("../assets/images/maskSliderImage.png");
    mask-size: 93% 100%;
    mask-repeat: no-repeat;
    object-fit: cover;
    z-index: 1;
  }

  .drawName {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 31%;

    .name {
      position: absolute;
      transform: rotateZ(-90deg) translateY(20px) translateX(75px);
      font-size: 1.6rem;
      text-transform: uppercase;
      color: white;
    }
  }
}

